@use "../abstracts" as *;

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("../../fonts/Rubik-Regular.ttf");
}

.account-page {
  nav {
    margin-top: -4.5%;
    width: 100%;
    height: 80px;
    padding: 0px 60px;
    background-color: white;
  }
  main {
    font-family: Montserrat;
    font-family: Rubik;
    .will {
      margin-top: 64px !important;

      .will_box {
        .will-1 {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 26px;
          .will-h1 {
            h1 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 32px;
              font-style: normal;
              font-weight: 700;
              line-height: 48px; /* 150% */
              text-transform: capitalize;
              max-width: 385px;
            }
            p {
              color: var(--Text-Body, #808080);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
              text-transform: capitalize;
            }
          }
        }

        .will-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 202px;
          flex-wrap: wrap;
          margin-top: 64px;
          h1 {
            color: var(--Text-Body, #808080);
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
          }
          h1:hover {
            color: var(--Text-Tittle, #1c3554);
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
          }
        }
      }
    }

    .courses {
      .courses_box {
        margin-bottom: 160px;
        margin-top: 66px;
        h1 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px;
          text-transform: capitalize;
          margin: 56px 0 46px 0;
        }
        .courses-box-cont {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 40px;

          .courses-cont {
            width: 270px;
            height: 427px;
            flex-shrink: 0;
            border-radius: 8px;
            background: var(--Other-white, #fff);
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            padding: 16px;
            position: relative;

            .courses-1 {
              p {
                display: inline-flex;
                padding: 4px 24px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 8px;
                background: var(--Other-Blue, #4586d6);
                color: var(--Text-white, #fff);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                position: absolute;
                margin-top: -25px;
                margin-left: 70px;
              }
              .one {
                width: 280px;
                height: 300px;
                background-color: gray;
              }
            }
            h2 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              text-transform: capitalize;
              max-width: 263px;
              margin-top: 16px;
            }
            h3 {
              color: var(--Primary-Pink, #f72585);
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 8px 0 12px 0;
            }
            span {
              color: var(--Text-Body, #808080);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
            p {
              color: var(--Text-In-Field, #ccc);
              font-variant-numeric: lining-nums proportional-nums;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-transform: capitalize;
              margin-top: 16px;
              span {
                color: var(--Text-Tittle, #1c3554);
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
              }
            }
          }
        }
      }
    }
  }

  //   footer {
  //     .foot-top {
  //       background: $color-third;

  //       .foot-top-box {
  //         margin-top: 80px;
  //         color: #fff;
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         gap: 100px;
  //         flex-wrap: wrap;
  //         .footer-1 {
  //           color: var(--Text-white, #fff);
  //           margin-top: 80px;

  //           p {
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 27px;
  //             width: 500px;
  //             margin-top: 36px;
  //             margin-bottom: 80px;
  //           }
  //         }
  //         .footer-2 {
  //           padding-top: 50px;
  //           h2 {
  //             color: var(--Text-white, #fff);
  //             font-variant-numeric: lining-nums proportional-nums;
  //             font-size: 24px;
  //             font-style: normal;
  //             font-weight: 400;
  //             line-height: 32px;
  //             margin-bottom: 24px;
  //           }

  //           p {
  //             color: var(--Text-white, #fff);
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 32px;
  //             width: 139px;
  //             margin-top: 8px;
  //           }
  //           a {
  //             color: var(--Text-white, #fff);
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 32px;
  //             margin-top: 10px;
  //           }
  //         }
  //         .footer-3 {
  //           margin-top: 10px;
  //           h2 {
  //             color: var(--Text-white, #fff);
  //             font-variant-numeric: lining-nums proportional-nums;
  //             font-size: 24px;
  //             font-style: normal;
  //             font-weight: 400;
  //             line-height: 32px;
  //             margin-bottom: 24px;
  //           }
  //           p {
  //             color: var(--Text-white, #fff);
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 32px;
  //             width: 139px;
  //             margin-top: 8px;
  //           }
  //           a {
  //             color: var(--Text-white, #fff);
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 32px;
  //             margin-top: 20px;
  //           }
  //         }
  //         .footer-4 {
  //           margin-top: 18px;
  //           h2 {
  //             color: var(--Text-white, #fff);
  //             font-variant-numeric: lining-nums proportional-nums;
  //             font-size: 24px;
  //             font-style: normal;
  //             font-weight: 400;
  //             line-height: 32px;
  //             margin-bottom: 24px;
  //           }
  //           p {
  //             color: var(--Text-white, #fff);
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 32px;
  //             width: 139px;
  //             margin-top: 8px;
  //           }
  //           a {
  //             color: var(--Text-white, #fff);
  //             font-size: 16px;
  //             font-weight: 400;
  //             line-height: 32px;
  //           }
  //         }
  //       }

  //       .foot-bot {
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         gap: 800px;
  //         .foot-bot-1 {
  //           color: #fff;
  //         }
  //       }
  //     }
  //   }
}

@media (max-width: 926px) {
  .will-2 {
    h1 {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      column-gap: 50px !important;
    }
  }
}
